/*############Sprite############*/

#grid > div {
    width: var(--cell-size);
    height: var(--cell-size);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain ;
}
/*salire*/
.pgUpMove {
    opacity: 1;
    transition: opacity 0.75s ease; /* Transizione di 0.75 secondi */
    background-image: url(../image/up-movement.png);
}

.pgUpMove.hidden {
    opacity: 0;
}

.pgBack {
    background-image: url(../image/back-view.png);
}

/*scendere*/
.pgDownMove{
    opacity: 1;
    transition: opacity 0.75s ease; /* Transizione di 0.75 secondi */
    background-image: url(../image/down-movement.png);
}

.pgDownMove.hidden {
    opacity: 0;
}

.pgFront{
    background-image: url(../image/front-view.png);
}

/*Destra*/
.pgRightMove{
    opacity: 1;
    transition: opacity 0.75s ease; /* Transizione di 0.75 secondi */
    background-image: url(../image/right-movement.png);
}

.pgRightMove.hidden {
    opacity: 0;
}

.pgRight{
    background-image: url(../image/right-view.png);
}

/*Sinistra*/
.pgLeftMove{
    opacity: 1;
    transition: opacity 0.75s ease; /* Transizione di 0.75 secondi */
    background-image: url(../image/left-movement.png);
}

.pgLeftMove.hidden {
    opacity: 0;
}

.pgLeft{
    background-image: url(../image/left-view.png);
}

.coin {
    background-image: url(../image/coin.png);
}

.bomb{
    background-image: url(../image/bomb.png);
}

.hp{
    background-image: url(../image/1hp.png);
}

.time{
    background-image: url(../image/time-plus.png);
}
.rock{
    background-color: black;
}
